@using PBAPP.Herramientas
@using PBAPP.Modelos.HistorialPartidos
@model PBAPP.Modelos.HistorialPartidos.HistorialPartidosResponse

@* Ultimos 4 partidos *@
<div class="col-span-1 md:col-span-2 lg:col-span-3 bg-gray-800 rounded-xl p-4 sm:p-6 border border-gray-700">
    <h2 class="text-lg sm:text-xl font-semibold text-white mb-4 flex items-center">
        <span class="material-symbols-outlined mr-2">
            sports_tennis
        </span> Ultimos 4 partidos
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
        @if ( Model?.Result.Hits != null)
        {
            int conteo = 0;
            @foreach (var item in Model.Result.Hits)
            {
                if (conteo < 4)
                {
                    <div style="min-width:280px;" class="text-white rounded-xl shadow-md overflow-hidden">
                        <div class="p-6">
                            <div class="flex justify-between items-center mb-4">
                                <h2 class="text-xl text-white font-bold text-gray-800">Match</h2>
                                <span class="px-3 py-1 text-xs font-semibold rounded-full bg-blue-100 text-blue-800">@item.EventFormat</span>
                            </div>

                            <div class="flex flex-col md:flex-row justify-between gap-4">
                                @if (item?.Teams[0] != null)
                                {
                                    <!-- Team 1 -->
                                    <div class="flex flex-col items-center text-center">
                                        <div class="flex -space-x-3">
                                            @if (item?.Teams[0].Player1 != null)
                                            {
                                                <div class="w-12 h-12 rounded-full bg-gray-200 ring-2 ring-gray-800 overflow-hidden z-20">
                                                    <img src="@Estilos.ObtenerImagen(item.Teams[0].Player1.ImageUrl)" title="@item.Teams[0].Player1.FullName" class="w-full h-full object-cover" />
                                                </div>
                                            }
                                            @if (item?.Teams[0].Player2 != null)
                                            {
                                                if (!string.IsNullOrEmpty(@item.Teams[0].Player2.FullName))
                                                {
                                                    <div class="w-12 h-12 rounded-full bg-gray-200 ring-2 ring-gray-800 overflow-hidden z-10">
                                                        <img src="@Estilos.ObtenerImagen(item.Teams[0].Player2.ImageUrl)" title="@item.Teams[0].Player2.FullName" class="w-full h-full object-cover" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <h3 class="font-bold mt-2">@Html.Raw(CodigoHTML.ObtenerNombres(@item?.Teams[0].Player1.FullName, @item?.Teams[0].Player2.FullName, Url.Action("Perfil", new { perfil = item?.Teams[0].Player1.Id }), Url.Action("Perfil", new { perfil = item?.Teams[0].Player2.Id })))</h3>
                                        <div class="flex space-x-2 mt-1">
                                            @if (item?.Teams[0].Player1 != null)
                                            {
                                                <div class="px-2 py-1 text-xs font-semibold rounded-full">@Html.Raw(CodigoHTML.RetornarEtiquetaRating(item.Teams[0].PrePartidos.RatingImpatcPlayer1, item.Teams[0].PrePartidos.RatingPlayer1, item.Teams[0].Player1.PostMatchRating, @item.EventFormat))</div>
                                            }
                                            @if (item?.Teams[0].Player2 != null)
                                            {
                                                if (!string.IsNullOrEmpty(@item.Teams[0].Player2.FullName))
                                                {
                                                    <div class="px-2 py-1 text-xs font-semibold rounded-full">@Html.Raw(CodigoHTML.RetornarEtiquetaRating(item.Teams[0].PrePartidos.RatingImpatcPlayer2, item.Teams[0].PrePartidos.RatingPlayer2, item.Teams[0].Player2.PostMatchRating, @item.EventFormat))</div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }

                                <!-- Score -->
                                <div class="flex flex-col items-center justify-center">
                                    <div class="text-2xl font-bold text-center space-y-2">
                                        <div class="flex items-center space-x-1">
                                            <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams)">@item?.Teams[0].Game1</p> <span>-</span> <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams,1,false)">@item?.Teams[1].Game1</p>
                                        </div>
                                        @if (@item?.Teams[0].Game2 != -1)
                                        {
                                            <div class="flex items-center space-x-1">
                                                <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams,2)">@item?.Teams[0].Game2</p> - <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams, 2, false)">@item?.Teams[1].Game2</p>
                                            </div>
                                        }

                                        @if (@item?.Teams[0].Game3 != -1)
                                        {
                                            <div class="flex items-center space-x-1">
                                                <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams,3)">@item?.Teams[0].Game3</p> - <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams, 3, false)">@item?.Teams[1].Game3</p>
                                            </div>
                                        }

                                        @if (@item?.Teams[0].Game4 != -1)
                                        {
                                            <div class="flex items-center space-x-1">
                                                <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams,4)">@item?.Teams[0].Game4</p> - <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams, 4, false)">@item?.Teams[1].Game4</p>
                                            </div>
                                        }

                                        @if (@item?.Teams[0].Game5 != -1)
                                        {
                                            <div class="flex items-center space-x-1">
                                                <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams,5)">@item?.Teams[0].Game5</p> - <p class="@Estilos.ObtenerColorEtiqueta(item?.Teams, 5, false)">@item?.Teams[1].Game5</p>
                                            </div>
                                        }
                                    </div>
                                </div>

                                @if (item?.Teams[1] != null)
                                {
                                    <!-- Team 2 -->
                                    <div class="flex flex-col items-center text-center">
                                        <div class="flex -space-x-3">
                                            @if (item?.Teams[1].Player1 != null)
                                            {
                                                <div class="w-12 h-12 rounded-full bg-gray-200 ring-2 ring-gray-800 overflow-hidden z-20">
                                                    <img src="@Estilos.ObtenerImagen(item.Teams[1].Player1.ImageUrl)" title="@item.Teams[1].Player1.FullName" class="w-full h-full object-cover" />
                                                </div>
                                            }
                                            @if (item?.Teams[1].Player2 != null)
                                            {
                                                if (!string.IsNullOrEmpty(@item.Teams[1].Player2.FullName))
                                                {
                                                    <div class="w-12 h-12 rounded-full bg-gray-200 ring-2 ring-gray-800 overflow-hidden z-10">
                                                        <img src="@Estilos.ObtenerImagen(item.Teams[1].Player2.ImageUrl)" title="@item.Teams[1].Player2.FullName" class="w-full h-full object-cover" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <h3 class="font-bold mt-2">
                                            @Html.Raw(CodigoHTML.ObtenerNombres(@item?.Teams[1].Player1.FullName, @item?.Teams[1].Player2.FullName, Url.Action("Perfil", new { perfil = item?.Teams[1].Player1.Id }), Url.Action("Perfil", new { perfil = item?.Teams[1].Player2.Id })))
                                        </h3>
                                        <div class="flex space-x-2 mt-1">
                                            @if (item?.Teams[1].Player1 != null)
                                            {
                                                <div class="px-2 py-1 text-xs font-semibold rounded-full">@Html.Raw(CodigoHTML.RetornarEtiquetaRating(item.Teams[1].PrePartidos.RatingImpatcPlayer1, item.Teams[1].PrePartidos.RatingPlayer1, item.Teams[1].Player1.PostMatchRating, @item.EventFormat))</div>
                                            }
                                            @if (item?.Teams[1].Player2 != null)
                                            {
                                                if (!string.IsNullOrEmpty(@item.Teams[1].Player2.FullName))
                                                {
                                                    <div class="px-2 py-1 text-xs font-semibold rounded-full">@Html.Raw(CodigoHTML.RetornarEtiquetaRating(item.Teams[1].PrePartidos.RatingImpatcPlayer2, item.Teams[1].PrePartidos.RatingPlayer2, item.Teams[1].Player2.PostMatchRating, @item.EventFormat))</div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="border-t border-gray-200 my-4"></div>

                            <div class="flex flex-col sm:flex-row text-sm">
                                <div class="flex items-center">
                                    <span class="material-symbols-outlined">
                                        distance
                                    </span>
                                    <span>@item?.Location</span>
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row text-sm">
                                <div class="flex items-center mt-2 sm:mt-0">
                                    <span class="material-symbols-outlined mr-1">
                                        event
                                    </span>
                                    <span>@item?.League</span>
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row text-sm">
                                <span class="material-symbols-outlined mr-1">
                                    calendar_today
                                </span>
                                <span>@Fechas.ObtenerFechaTexto(item?.Created)</span>
                            </div>
                        </div>
                    </div>
                }
                conteo++;
            }
        }
    </div>
</div>